.header{
    padding: 20px 0 ;
    background-color: #ccc7c7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20rem;
}

.header img{
    margin-left: 50px;
}

.navbar{
    display: flex;
    gap: 2rem;
}

.navbar a{
    text-decoration: none;
    font-family: Poppins,sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #2a2a2a;
}